 body {
      background-image: url("Alduin.jpg");
      background-size: cover;
      color:white;
      }
 #lists {
    list-style-type: none;
}
 
 #textbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#listbox {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
 #puggo{
 width:200px;
  height:200px;
 }
 
 #gunter{
 width:200px;
  height:250px;
 }
#four{
      background-image: url("Alduin.jpg");
      background-size: cover;
      color:white;
      }
    #link{
    width:100px;
      height:100px;    
    }
